html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {

}

/* Mute / Unmute Widget */
input#sound {
  margin: 0;
  display: none;
}

.on img {
  margin: 0;
  margin-bottom: -30px;
  display: none;
  opacity: 0.65;
}

.on img:hover {
  opacity: 0.9;
  cursor: pointer;
}

.off img {
  margin: 0;
  margin-bottom: -30px;
  opacity: 0.65;
}

.off img:hover{
  opacity: 1;
  cursor: pointer;
}

input#sound:checked ~ .on img {
  display: initial;
}

input#sound:checked ~ .off img {
  display: none;
}
