html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {

}

input#un-mute {
  margin: 0;
  display: none;
}

.unmute img {
  margin: 0;
  display: none;
  opacity: 0.65;
}

input#un-mute:checked ~ .unmute img {
  display: initial;
}

input#un-mute:checked ~ .mute img {
  display: none;
}
